@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-background {
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow-x: hidden;
}

.stars, .stars2, .stars3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat;
  background-size: contain;
  z-index: -1;
}

.stars {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: moveStars 100s linear infinite;
  opacity: 0.3;
}

.stars2 {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: moveStars 200s linear infinite;
  opacity: 0.2;
}

.stars3 {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: moveStars 300s linear infinite;
  opacity: 0.1;
}

@keyframes moveStars {
  0% { transform: translateY(0); }
  100% { transform: translateY(-1000px); }
}
